[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs
/Library/PackageCache/
Library/
Temp/
Obj/
Logs/
UserSettings/

*.dll
*.dylib
*.so
*.dbair-traffic-control/Library/PackageCache/com.unity.burst@1.8.16/.Runtime/libburst-llvm-16.dylib
